<a href="https://colab.research.google.com/github/BadariNarayana/Machine-Learning-Projects/blob/main/Spam_Mail_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Spam Mail Prediction

Import Libraries

In [8]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

Data Perprocessing

In [10]:
#load data set into pandas DataFrame
raw_mail_data=pd.read_csv('spam.csv',encoding='latin1')
#replace the null value with a null string
mail_data=raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [11]:
mail_data.shape

(5572, 5)

In [12]:
mail_data.head()#sample data

     v1  ... Unnamed: 4
0   ham  ...
1   ham  ...
2  spam  ...
3   ham  ...
4   ham  ...

[5 rows x 5 columns]

In [14]:
#label spam mail as 0
#Non-spam mail as 1
mail_data.loc[mail_data['v1']=='spam','v1',]=0
mail_data.loc[mail_data['v1']=='ham','v1',]=1

In [15]:
#seperate the data as text and label x-->text,y-->label
x=mail_data['v2']
y=mail_data['v1']

In [18]:
print(x,"\n...................\n",y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will ÃŒ_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object
...................
 0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

Train Test Split

In [21]:
#split the data as train data and test data
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,test_size=0.2,random_state=3)

Transform the test data to feature vector that can be used as input to the svm model using TfidVectorizer and convert text to lower case letters

In [22]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
x_train_features=feature_extraction.fit_transform(x_train)
x_test_features=feature_extraction.transform(x_test)
#convert y_train and y_test data values as integer
y_train=y_train.astype('int')
y_test=y_test.astype('int')

Train the Model ----> **"Support Vector Machine Model"**

In [23]:
#training to support vector machine  model with training data
model=LinearSVC()
model.fit(x_train_features,y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

Evaluation of the Model

In [27]:
#prediction on Training Data
prediction_on_training_data=model.predict(x_train_features)
accuracy_on_traning_data=accuracy_score(y_train,prediction_on_training_data)
print("Accuracy on training data:",accuracy_on_traning_data)

Accuracy on training data: 0.9995512676688355

In [28]:
#prediction on test data
prediction_on_test_data=model.predict(x_test_features)
accuracy_on_test_data=accuracy_score(y_test,prediction_on_test_data)
print("Accuracy on training data:",accuracy_on_test_data)

Accuracy on training data: 0.9856502242152466

Prediction on New Mail

In [31]:
#For spam mail
#input_mail=['REMINDER FROM O2: To get 2.50 pounds free call credit and details of great offers pls reply 2 this text with your valid name, house no and postcode']
#For Ham Mail
input_mail=['Nah I don''t think he goes to usf, he lives around here though']
#Convert text to feature Vector
input_mail_features=feature_extraction.transform(input_mail)
#making prediction on new input file
prediction = model.predict(input_mail_features)
print(prediction)

if(prediction[0]==1):
  print("Ham Mail")
else:
  print("Spam Mail")

[1]
Ham Mail